<div class="container text-center about">
     <div class="blur-bg more-opacity">
        <div class="header about-header heb">{{vm.name}}</div>
        <p class="heb">כן, גם אנחנו משחקים פיפא.</p>
        <p class="heb">וכן, גם גם לנו קרה שישבנו כל החברים והתווכחנו דקות ארוכות מי נגד מי ואיך לחלק זוגות.</p>
        <p class="heb">וכן, גם אנחנו בסוף הסתובבנו לחפש נייר ועט והתחלנו כמו בשנות ה80 לכתוב שמות ולהתחיל לקרוע פתקים ולהגריל מכובע.</p>
        <p class="heb">לנו לקח בסביבות השעה עד שהתחלנו לשחק, ולכם?</p>
        <p class="heb">בדיוק בשביל שלא יקרו לכם הנסים והנפלאות יצרתי את האפליקציה הפשוטה הזו.</p>
        <p class="heb">לא עוד שעה עד שמתחילים לשחק, הכל רץ מהר מאוד.</p>
        <p class="heb">בתקווה שתמצאו את האפליקציה מועילה.</p>
        <p>Rafael</p>
        <button type="submit" class="back-btn heb" ng-click="vm.Back()">חזרה לתפריט</button>

    </div>
</div>