<div class="container text-center about heb">
     <div class="blur-bg more-opacity">
        <div class="header about-header">{{vm.name}}</div>
        <p>כן, גם אנחנו משחקים פיפא.</p>
        <p>וכן, גם גם לנו קרה שישבנו כל החברים והתווכחנו דקות ארוכות מי נגד מי ואיך לחלק זוגות.</p>
        <p>וכן, גם אנחנו בסוף הסתובבנו לחפש נייר ועט והתחלנו כמו בשנות ה80 לכתוב שמות ולהתחיל לקרוע פתקים ולהגריל מכובע.</p>
        <p>לנו לקח בסביבות השעה עד שהתחלנו לשחק, ולכם?</p>
        <p>בדיוק בשביל שלא יקרו לכם הנסים והנפלאות יצרתי את האפליקציה הפשוטה הזו.</p>
        <p>לא עוד שעה עד שמתחילים לשחק, הכל רץ מהר מאוד.</p>
        <p>בתקווה שתמצאו את האפליקציה מועילה.</p>
        <p>רפאל</p>
        <button type="submit" class="back-btn heb" ng-click="vm.Back()">חזרה לתפריט</button>
    </div>
</div>