<div class="text-center simple-draw ">
    <div class="blur-bg">
        <p class="hmplayers heb">כמה שחקנים? <span>(4-20)</span></p>
        <hr />

        <form name="myForm" ng-submit="vm.Submit()">
            <div class="inputButtons">
                <div ng-click="vm.AddOne()" class="inputButtonsChild inputButtons"><span
                        class="glyphicon glyphicon-plus plusMinus"></span></div>
                <input ng-model="vm.Count" class="inputButtonsChild countInput heb" type="text" readonly required />
                <div ng-click="vm.RemoveOne()" class="inputButtonsChild inputButtons"><span
                        class="glyphicon glyphicon-minus plusMinus"></span></div>
            </div>
            <input class="confirm-btn heb" type="submit" value="אשר" />
            <div ng-show="vm.isInvalid" class="alert alert-danger">אנא בחר מספר שחקנים (לפחות 4)</div>
        </form>
        <div class="namesInputs">
            <p class="whoplays heb" ng-show="vm.ShowButton">מי משחק?</p>
            <hr ng-show="vm.ShowButton" />

            <form name="vm.playersForm" novalidate>
                <input class="playerInput" type="text" ng-model="p.name" ng-repeat="p in vm.Players"
                    name="player{{$index}}" placeholder="שחקן {{$index+1}}" required
                    ng-class="{'error': vm.playersForm.player{{$index}}.$invalid  && vm.submitted}" />
                <br />
                <div ng-show="vm.playersForm.$invalid && vm.submitted" class="alert alert-danger">חובה להכניס שמות
                    שחקנים</div>
                <input type="submit" class="confirm-btn heb draw" ng-show="vm.Players.length>0"
                    ng-click="vm.Shuffle();vm.submitted = true" value="הגרל">
            </form>
        </div>
        <back-button></back-button>
    </div>

</div>