.simple-draw {
  .inputButtonsChild {
    display: inline-block;
  }

  .inputButtonsChild.inputButtons {
    width: 30px;
    color: white;
    background-color: #00003f;
    margin: 0;
    padding: 10px;
  }

  .inputButtonsChild.countInput {
    width: 120px;
    background-color: white;
    border: none;
    text-align: center;
    color: black;
    font-weight: bold;
    margin: 0;
  }

  input {
    text-align: center;
  }
  .hmplayers {
    color: white;
  }
  .playerInput {
    color: black;
    border-radius: 10px;
    width: 100px;
    margin: 10px;
    font-weight: bold;
    &.error {
      background: #f2dede;
      border: 1px solid #a21111;
    }
  }
  .plusMinus {
    font-size: 10px;
  }

  .confirm-btn {
    margin-top: 5px;
    /* background-color: black; */
    background-color: #00003f;
    border-radius: 5px;
    color: white;
    width: 185px !important;
    border: none;
  }
  // input {
  //   color: black !important;
  // }
}
